/* Estilos Gerais */
body {
    font-family: 'Chakra Petch', sans-serif;
    color: #431e6c; /* Cor principal do texto */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background: #f2f2f2; /* Cor de fundo da página */
}

/* Imagem de Fundo e Sobreposição */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Fundo atrás de outros elementos */
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: 100%;
    background-image: url('/img/background-jadson.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute; /* Fixar a imagem dentro do contêiner */
    top: 0;
    left: 0;
    z-index: 1; /* Imagem atrás da sobreposição */
    filter: blur(5px); /* Adiciona um efeito blur na imagem de fundo */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        135deg,
        #e933f0, /* Cor principal 1 */
        #431e6c, /* Cor principal 2 */
        #29d7e0  /* Cor principal 3 */
    );
    opacity: 0.6; /* Opacidade da sobreposição */
    z-index: 2; /* Sobreposição acima da imagem de fundo */
    animation: gradientAnimation 5s linear infinite; /* Animação do gradiente */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Cabeçalho */
.header-background {
    background: linear-gradient(135deg, #29d7e0, #431e6c, #e933f0);
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; /* Acima de outros elementos, como o conteúdo principal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #eb32f0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

header nav a {
    color: #ffffff; /* Cor branca para os links */
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 15px;
    position: relative;
    transition: color 0.3s ease;
}

header nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #eb32f0; /* Cor do sublinhado */
    transition: width 0.3s;
    position: absolute;
    bottom: -2px;
    left: 0;
}

header nav a:hover::after,
header nav a:focus::after {
    width: 100%;
}

header nav a:hover {
    color: #ffffff; /* A cor do texto permanece branca */
}

/* Conteúdo Principal */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 60px 20px;
    text-align: center;
    position: relative; /* Para o posicionamento da sobreposição e popup */
    z-index: 3; /* Garantir que o conteúdo esteja acima da sobreposição */
}

.pesquisar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* Ajuste a margem conforme necessário */
    position: relative;
}

.logo-groot {
    max-width: 200px; /* Ajuste o tamanho da imagem conforme necessário */
    margin-bottom: 20px; /* Espaçamento entre a imagem e a barra de pesquisa */
}

.pesquisar-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 15px;
}

.pesquisar-bar input {
    border: none;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 1.1rem;
    width: 300px;
    transition: box-shadow 0.3s ease;
}

.pesquisar-bar input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(235, 50, 240, 0.4);
}

.pesquisar-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pesquisar-bar img {
    width: 40px; /* Ajuste o tamanho do ícone conforme necessário */
}

.pesquisar-message {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #ffffff;
}

/* Seção de Artigos */
.artigos {
    margin-top: 40px;
}

.artigos h2 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.artigos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.artigo {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; /* Ajuste o tamanho do artigo conforme necessário */
    transition: transform 0.3s ease;
    position: relative; /* Para posicionar a imagem */
    overflow: hidden; /* Para o efeito hover da imagem */
}

.artigo:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
}

.artigo-titulo {
    color: #e933f0; /* Cor do título do artigo */
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.artigo p {
    font-size: 1rem;
    color: #666666;
    line-height: 1.5; /* Aumenta o espaço entre linhas */
}

.read-more {
    color: #e933f0;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease; /* Transição suave da cor no hover */
    display: block; /* Torna o link um bloco para ocupar toda a largura */
    padding: 10px 0; /* Adiciona padding para o botão */
    text-align: center; /* Centraliza o texto do botão */
    cursor: pointer;
    background-color: #e933f0; /* Cor de fundo do botão */
    border-radius: 5px; /* Borda arredondada */
}

.read-more:hover {
    color: #ffffff; /* Cor do texto no hover */
    background-color: #eb32f0; /* Cor de fundo do botão no hover */
}

.artigo-imagem {
    max-width: 100%; /* Ajusta a largura da imagem para caber no artigo */
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    margin-bottom: 10px; /* Adiciona espaçamento abaixo da imagem */
    display: block; /* Impede o espaço extra abaixo da imagem */
    transition: transform 0.5s ease; /* Transição para o efeito hover */
    object-fit: cover; /* Ajuste a imagem para cobrir todo o espaço */
}

.artigo:hover .artigo-imagem {
    transform: scale(1.1); /* Aumenta o tamanho da imagem no hover */
}

/* Rodapé */
.footer-background {
    background: linear-gradient(135deg, #29d7e0, #431e6c, #e933f0);
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    border-top: 3px solid #eb32f0;
}

.footer-content {
    text-align: center;
    color: #ffffff;
}

.footer-link {
    color: #ffffff; /* Cor branca para os links no rodapé */
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.footer-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #eb32f0; /* Cor do sublinhado */
    transition: width 0.3s;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.footer-link:hover::after,
.footer-link:focus::after {
    width: 100%;
}

.footer-link:hover {
    color: #ffffff; /* A cor do texto permanece branca */
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.popup-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao popup */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #431e6c; /* Cor do botão de fechar */
    transition: color 0.3s ease; /* Transição da cor no hover */
}

.close:hover {
    color: #e933f0; /* Cor do botão de fechar no hover */
}

/* Responsividade */
@media (max-width: 768px) {
    .pesquisar-bar {
        flex-direction: column;
    }

    .pesquisar-bar input {
        width: 100%;
    }

    .artigos-container {
        flex-direction: column;
        align-items: center;
    }

    .artigo {
        width: 100%;
        max-width: 400px;
    }

    .artigo-imagem {
        width: 100%; /* Ajuste a largura da imagem para 100% */
        height: auto; /* Manter a altura proporcional */
    }
}